.gradle-home/
.gradle-build-test/
.gradle/
node_modules/
npm-debug.log*
*.log

app/node_modules/
functions/node_modules/

app/android/.gradle/
app/android/app/build/
app/android/build/
app/android/capacitor-cordova-android-plugins/build/
app/android/capacitor.settings.gradle
app/android/local.properties

app/android/**/build/
app/android/**/.cxx/
app/android/**/outputs/
app/android/**/generated/

*.apk
*.aab
*.keystore
*.jks
